

.App {
  text-align: center;

  height: 100vh;
  padding: 15px;  
}

.centered{
  height: 100%;
  display: flex;
  align-items: center;
}

header{
  position: relative;
}
.ill {
  display: none;
}
.title{
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2em;
  color: rgba(242, 242, 242, 1);
  text-align: left;
}

.card {
  border-radius: 24px;
  background-color: rgba(255, 255, 255, 1);
  padding: 40px 15px ;
  
}

.quiz {
  display: flex;
  flex-direction: column;
  padding: 0 5px;
}
.quiz>div{
  align-self: end;
  padding: 10px 10px 0 0;
}

.responseButton{
  font-size: 18px;
  background-color: rgba(255, 255, 255, 1);
  border: 2px solid rgba(96, 102, 208, 0.7);
  color: rgba(96, 102, 208, 0.7);
  border-radius: 12px;
  padding: 5px;
  margin: 5px 0;
}

.responseButton:hover{
  background-color: rgba(249, 168, 38, 1);
  color: rgba(255, 255, 255, 1);
  border: solid 2px white;
}

.responseButton.right{
  background-color: rgba(96, 191, 136, 1);
  color: rgba(255, 255, 255, 1);
  border: solid 2px white;
}
.responseButton.wrong{
  background-color: rgba(234, 130, 130, 1);
  color: rgba(255, 255, 255, 1);
  border: solid 2px white;
}

.nextButton{
  background-color: rgba(249, 168, 38, 1);
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  border: none;
  box-shadow: 0px 2px 4px rgba(252, 168, 47, 0.4);
  border-radius: 12px;
  padding: 5px 20px;
}

.tryAgainButton{
  border: 2px solid rgba(29, 53, 93, 1);
  border-radius: 12px;
  background-color: white;
  font-weight: 600;
  font-size: 18px;
  color: rgba(29, 53, 93, 1);
  padding: 5px 20px;

}

.question{
  font-weight: 700;
  font-size: 24px;
  color: rgba(47, 82, 123, 1);
}
form {
  display: flex;
  flex-direction: column;
}
input[type=radio]{
  display: none;
}

.results{
  font-size: 48px;
  font-weight: 700;
  color: rgba(29, 53, 93, 1);
  margin-top: 40px;
}
.resultsText{
  color: rgba(29, 53, 93, 1);
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 40px;
}
.resultsText>.number{
  font-weight: 700;
  font-size: 36px;
  color: rgba(111, 207, 151, 1);
}

.flag{
  width: 100px;
}


@media screen AND (min-width:420px){
  .ill {
    display: block;
    position: absolute;
    right: 0;
    top: -40px;
    z-index: 2;
  }
}